						<noscript>
							<p class="text-center text-danger">Javascript est desactivé dans votre navigateur.</p>
						</noscript>
						<!--[if lt IE 8]>
						<div class="browsehappy">
							<div class="container">
								<p>Savez-vous que votre navigateur est obsolète ?</p>
								<p>Pour naviguer de la manière la plus satisfaisante sur le Web, nous vous recommandons de procéder à une <a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie">mise à jour de votre navigateur</a>.<br />Vous
									pouvez aussi <a href="http://browsehappy.com/">essayer d’autres navigateurs web populaires</a>.
								</p>
							</div>
						</div>
						<![endif]-->
						<div id="outer-wrap">
							<div id="inner-wrap">
								<header class="banner" role="banner">
									<esi:remove>
									<div class="nav-skip">
										<div class="container">
											<ul id="top">
												<li><a href="#main">Aller au contenu</a></li>
												<li><a href="#search">Aller à la recherche</a></li>
												<li class="skip-link-nav"><a href="#nav-main">Aller au menu de Particuliers</a></li>
											</ul>
										</div>
									</div>
									<div class="nav-top">
										<div class="container">
											<nav class="nav-top-main" role="navigation" aria-label="menu principal">
												<ul>
													<li class="nav-top-menu"><button id="nav-open-btn" aria-controls="nav-mobile" aria-expanded="false" class="btn btn-menu nav-top-menu" type="button">menu</button></li>
													<li class="nav-top-part"><a data-xiti-name="Particuliers::Particuliers::Actualite::Actualite" href="https://www.service-public.fr/" class="active" title="Particuliers - actif">
														Particuliers
														</a>
													</li>
													<li class="nav-top-pro"><a data-xiti-name="Professionnels::Particuliers::Actualite::Actualite" href="https://www.service-public.fr/professionnels-entreprises">
														Pro<span>fessionnels</span></a>
													</li>
													<li class="nav-top-asso"><a data-xiti-name="Associations::Particuliers::Actualite::Actualite" href="https://www.service-public.fr/associations">
														Asso<span>ciations</span></a>
													</li>
													<li class="nav-top-annuaire"><a data-xiti-name="Annuaire::Particuliers::Actualite::Actualite" href="https://lannuaire.service-public.fr">
														Annuaire<span> de l'administration</span></a>
													</li>
													<li class="nav-top-compte" id="profil">
														<a class="collapsed" data-toggle="collapse" data-target="#compte" id="monCompte" href="#" data-xiti-type="action" data-xiti-name="Mon_compte::Particuliers::Actualite::Actualite">
															<svg width="28px" height="28px" aria-hidden="true">
																<use xlink:href="#icon-compte"></use>
															</svg>
															Se connecter
														</a>
													</li>
												</ul>
											</nav>
										</div>
										<!-- container -->
									</div>
									<!-- nav-top -->
									<div id="compte" class="nav-compte collapse">
										<div class="container">
											<p class="close"><button class="btn btn-link btn-close" aria-label="fermer menu mon compte">Fermer</button></p>
											<p class="nav-compte-title">Accéder à mon compte :</p>
											<ul class="nav-compte-list">
												<li class="color-part">Particuliers <a title="Mon.service-public.fr - Nouvelle fenêtre" target="_blank" href="https://connexion.mon.service-public.fr/" class="link-arrow" data-test="mon-service-public">Mon.service-public.fr&nbsp;<span aria-hidden="true" class="icon icon-external-link"></span></a></li>
												<li class="color-pro">Professionnels <a title="Votre compte Pro - Nouvelle fenêtre" target="_blank" class="link-arrow" href="https://connexion.mon.service-public.fr/auth/1?spid=http://portail.pro.msp.gouv.fr&amp;minlvl=1&amp;mode=0&amp;failure_id=0">Votre compte Pro<span aria-hidden="true" class="icon icon-external-link"></span></a></li>
												<li class="color-asso">Associations <a title="Votre compte Association - Nouvelle fenêtre" target="_blank" class="link-arrow" href="https://connexion.mon.service-public.fr/auth/2?spid=http://portail.asso.msp.gouv.fr&amp;minlvl=1&amp;mode=0&amp;failure_id=0">Votre compte Association<span aria-hidden="true" class="icon icon-external-link"></span></a></li>
											</ul>
										</div>
										<!-- container -->
									</div>
									<div class="container container-logo">
										<div class="logo"><a data-xiti-name="Logo::Particuliers::Actualite::Actualite" href="https://www.service-public.fr/"><img width="465" height="65" src="https://www.service-public.fr/resources/v-daa5e42db1/web/img/logo-service-public.png" alt="Accueil Service-Public.fr" /></a></div>
										<div class="nav-header">
											<ul>
												<li class="nav-header-1">
													<a data-xiti-name="Vos_questions::Particuliers::Actualite::Actualite" href="https://www.service-public.fr/particuliers/vos-questions">
														<svg width="35px" height="35px" class="icon-question" aria-hidden="true">
															<use xlink:href="#icon-question"></use>
														</svg>
														Une question ?
													</a>
												</li>
												<li class="nav-header-2">
													<a href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires" data-xiti-name="Service_en_ligne-formulaires::Particuliers::Actualite::Actualite">
														<svg width="35px" height="35px" class="icon-formulaire" aria-hidden="true">
															<use xlink:href="#icon-formulaire"></use>
														</svg>
														Services en ligne et formulaires
													</a>
												</li>
											</ul>
										</div>
										<!-- nav-header -->
									</div>
									<nav class="nav-mobile" id="nav-mobile" role="navigation" aria-label="menu Particuliers">
										<p class="nav-mobile-close"><button id="nav-close-btn" class="btn btn-close" type="button" title="Fermer le menu Particuliers">Fermer</button></p>
										<ul class="nav-mobile-global">
											<li id="profil-mobile">
												<a href="#" id="msp" class="collapsed" data-toggle="collapse" data-target="#login-v1">
													<svg width="25px" height="25px" aria-hidden="true">
														<use xlink:href="#icon-compte"></use>
													</svg>
													Se connecter
												</a>
												<ul class="collapse" id="login-v1">
													<li><a title="Particuliers Mon.service-public.fr - Nouvelle fenêtre" target="_blank" href="https://connexion.mon.service-public.fr/">Mon.service-public.fr&nbsp;<span aria-hidden="true" class="icon icon-external-link"></span></a></li>
													<li><a title="Professionnels Votre compte Pro - Nouvelle fenêtre" target="_blank" href="https://connexion.mon.service-public.fr/auth/1?spid=http://portail.pro.msp.gouv.fr&amp;minlvl=1&amp;mode=0&amp;failure_id=0">Votre compte Pro&nbsp;<span aria-hidden="true" class="icon icon-external-link"></span></a></li>
													<li><a title="Associations Votre compte Association - Nouvelle fenêtre" target="_blank" href="https://connexion.mon.service-public.fr/auth/2?spid=http://portail.asso.msp.gouv.fr&amp;minlvl=1&amp;mode=0&amp;failure_id=0">Votre compte Association&nbsp;<span aria-hidden="true" class="icon icon-external-link"></span></a></li>
												</ul>
											</li>
											<li>
												<a href="https://www.service-public.fr/particuliers/vos-questions">
													<svg aria-hidden="true" width="25px" height="25px">
														<use xlink:href="#icon-question"></use>
													</svg>
													Une question ?
												</a>
											</li>
											<li>
												<a href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires">
													<svg aria-hidden="true" width="25px" height="25px">
														<use xlink:href="#icon-formulaire"></use>
													</svg>
													Services en ligne et formulaires
												</a>
											</li>
										</ul>
										<div class="nav-mobile-espace">
											<p><a href="https://www.service-public.fr/">Particuliers</a></p>
											<ul>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19803">Argent</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19804">Étranger</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19805">Famille</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19807">Justice</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19808">Logement</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19809">Loisirs</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19810">Papiers - Citoyenneté</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19811">Social - Santé</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19812">Transports</a></li>
												<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19806">Travail</a></li>
												<li><a href="https://www.service-public.fr/particuliers/actualites">Actualités</a></li>
											</ul>
										</div>
									</nav>
									</esi:remove>
									<esi:include src="/esi/particuliers/header?{{ marquage }}"></esi:include>
								</header>
								<nav class="nav-main" id="nav-main" role="navigation" aria-label="menu Particuliers">
									<div class="container">
										<esi:remove>
										<ul class="nav-main-first nav-main-desktop" id="nav-main-dropdown">
											<li><a class="nav-main-item nav-main-home" href="https://www.service-public.fr/"><span class="icon icon-home" aria-hidden="true" title="Accueil"></span><span class="blank">Accueil</span></a></li>
											<li class="panel">
												<!-- Papiers --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-7" data-xiti-name="Barre_de_Navigation::Particuliers::::Papiers_-_Citoyennete" href="https://www.service-public.fr/particuliers/vosdroits/N19810">Papiers - Citoyenneté</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-7">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-7" title="Fermer le menu du thème Papiers - Citoyenneté">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>État civil - Identité - Authentification</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N358">Carte d’identité</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N360">Passeport</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N359">État civil</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N151">Nom et prénom</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N365">Certificat, copie, légalisation et conservation de documents</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Vie citoyenne</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N24">Recensement, <abbr title="journée défense et citoyenneté">JDC</abbr> et service national</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N47">Élections</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N13271">Volontariats</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20053">Fichiers, libertés, protection de la vie privée</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23501">Médailles et décorations officielles</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N30">Anciens combattants</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Relations avec l’administration</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N559">Obligations de l’administration</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20312">Recours administratif, défenseur des droits&hellip;</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N560">Agir en justice contre l’administration</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31080">Réclamations en matière d'impôts</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi&nbsp;:</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N111">Nationalité française</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N110">Titres de séjour</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N367">Carte grise</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N530">Permis de conduire</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19810">Afficher le thème Papiers - Citoyenneté</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Famille --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-3" data-xiti-name="Barre_de_Navigation::Particuliers::::Famille" href="https://www.service-public.fr/particuliers/vosdroits/N19805">Famille</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-3">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-3" title="Fermer le menu du thème Famille">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Enfant</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N133">Adoption</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N15660">Naissance</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N135">Autorité parentale</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N156">Allocations destinées aux familles</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N137">Garde d'enfants en bas âge</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N546">Centre de loisirs, colonies de vacances, garderie&hellip;</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N18775">Séparation des parents</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N136">Placement d'un enfant</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Scolarité</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23493">Obligation scolaire</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N54">École primaire (maternelle et élémentaire)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N56">Collège et lycée</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N67">Aides financières pour la scolarité</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N57">École et handicap</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N10481">Diplômes</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31347">Scolarité en France d'un enfant arrivant de l'étranger</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23767">Scolarité à l'étranger d'un enfant français</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Études supérieures</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N58">Inscription</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20398">Aides et bourses</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23482">Formations et diplômes</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31346">Étudiant étranger en France
																			</a>
																		</li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N13511">Étudier à l'étranger</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Couple</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N143">Union libre</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N144">Pacte civil de solidarité (Pacs)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N142">Mariage</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N159">Divorce, séparation de corps</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Protection des personnes</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N155">Protection juridique (tutelle, curatelle&hellip;)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N42">Disparition et enlèvement</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Décès</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N165">Obsèques et modes de sépulture</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31163">Rentes et capitaux versés en cas de décès</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N378">Pension de réversion</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Succession</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N173">Héritage&nbsp;: ordre et droits des héritiers</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31162">Donation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N16265">Testament</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N171">Règlement d’une succession</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19805">Afficher le thème Famille</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Social --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-8" data-xiti-name="Barre_de_Navigation::Particuliers::::Social_-_Sante" href="https://www.service-public.fr/particuliers/vosdroits/N19811">Social - Santé</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-8">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-8" title="Fermer le menu du thème Social - Santé">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Aides sociales</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19775">Revenu de solidarité active (RSA)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31167">Allocation temporaire d’attente (ATA)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20382">Allocations avant l’âge de la retraite (<abbr title="allocation de solidarité spécifique">ASS</abbr> et <abbr title="allocation équivalent retraite">AER</abbr>)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N392">Allocations et aides aux personnes âgées</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Chômage</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N549">Démarches auprès de Pôle emploi</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N178">Allocation chômage d’aide au retour à l’emploi (ARE)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31131">Aides à la formation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31132">Aides à la création ou la reprise d’entreprise</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31133">Aides à la reprise d'activité</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Droits des patients</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N17179">Information du patient : dossier médical, tarifs&hellip;</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N10253">Préjudice médical</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N441">Don du sang, don du corps, don d’organes</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Sécurité sociale</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N418">Assurance maladie&nbsp;: affiliation et remboursements des soins</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19717">CMU et AME</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20286">Complémentaire santé, CMU-C, ACS
																			</a>
																		</li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20286">Européen en France : couverture maladie</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N423">Santé, protection sociale dans un autre pays</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N561">Litiges avec la sécurité sociale</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Soins et prévention</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N437">Addictions</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N435">Contraception - <abbr title="interruption volontaire de grossesse">IVG</abbr></a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N439">Grossesse - Accouchement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N432">Hospitalisation et soins à domicile</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N434">Prévention - Vaccinations</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Handicap</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N12230">Allocation aux adultes handicapés (AAH) et compléments</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N14808">Allocation d’éducation de l’enfant handicapé (AEEH)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N14201">Prestation de compensation du handicap (PCH)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N332">Hébergement</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Hébergement</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N17160">Hébergement social</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N333">Hébergement des personnes âgées</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31172">Accueil familial</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi :</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N57">École et handicap</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N451">Emploi et handicap</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19811">Afficher le thème Social - Santé</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Travail --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-10" data-xiti-name="Barre_de_Navigation::Particuliers::::Travail" href="https://www.service-public.fr/particuliers/vosdroits/N19806">Travail</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-10">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-10" title="Fermer le menu du thème Travail">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Recrutement</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N449">Dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N500">Dans la fonction publique</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Rémunération</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N474">Dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N511">Dans la fonction publique</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Contrats et carrière</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19871">Contrats de travail dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31067">Mobilité dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N443">Contrats d’aide à l’insertion</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N11240">Apprentissage</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N505">Carrière dans la fonction publique</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31057">Mobilité dans la fonction publique</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Temps de travail et congés</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N458">Temps de travail dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N510">Congés dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20276">Temps de travail dans la fonction publique</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19978">Congés dans la fonction publique</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Formation</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N177">Formation des salariés du secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N186">Formation des agents de la fonction publique</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N175">Formation des jeunes</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N198">Formation des personnes handicapées</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N472">Bilan de compétences</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N11129">Validation des acquis de l'expérience (VAE)</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Santé, sécurité et conditions de travail</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N451">Handicap et emploi (secteur privé)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N492">Conditions de travail (secteur privé)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N526">Arrêt de travail (secteur privé)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N431">Conditions de travail (fonction publique)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N512">Arrêt de travail (fonction publique)</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Relations individuelles et collectives</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N518">Représentation du personnel dans l’entreprise</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N470">Conflits du travail dans le secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N489">Conseil des prud’hommes</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N503">Représentants du personnel dans la fonction publique</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N102">Conflits du travail dans la fonction publique</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Quitter son emploi</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19611">Rupture du contrat dans le secteur privé (démission, rupture
																			conventionnelle&hellip;)</a>
																		</li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N481">Licenciement économique</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N480">Licenciement du salarié pour motif personnel</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N515">Quitter la fonction publique</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Particulier employeur</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19602">Aide à domicile (services à la personne)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20383">Assistante maternelle</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N499">Salarié au pair, stagiaire aide familial étranger, travailleur occasionnel</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N528">Cesu</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Retraite</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N381">Retraite des salariés du secteur privé</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N379">Retraite d’un agent de la fonction publique (titulaire et non titulaire)</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N452">Travailler à l'étranger</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N549">Chômage</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19806">Afficher le thème Travail</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Logement --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-5" data-xiti-name="Barre_de_Navigation::Particuliers::::Logement" href="https://www.service-public.fr/particuliers/vosdroits/N19808">Logement</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-5">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-5" title="Fermer le menu du thème Logement">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Achat immobilier</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N312">Achat d’un terrain</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23245">Achat d’un logement</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Aides financières</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20360">Allocations logement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20359">Aides au financement du dépôt de garantie et impayés de loyers</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23557">Aides au paiement des factures&nbsp;: eau, téléphone fixe, électricité, gaz naturel</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N321">Aides et prêts pour l’amélioration de l’habitat</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Location immobilière</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N292">Candidat locataire</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N349">Contrat de location (bail)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N337">Loyer</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31059">Obligations du bailleur</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19424">Obligations du locataire</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N339">Fin du bail</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Préemption - Expropriation</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N326">Expropriation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N21886">Préemption</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Protection et sécurité de l’habitat</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20356">Protection des occupants</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20591">Diagnostics immobiliers</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Urbanisme</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N319">Autorisation d'urbanisme</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31344">Travaux</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Copropriété</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31338">Acteurs</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31339">Documents</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31340">Charges</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31341">Assemblée générale</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N357">Copropriété en difficulté</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Vie pratique dans un logement</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31064">Vie pratique dans son appartement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31030">Vie pratique dans sa maison</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N356">Nuisances de voisinage</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31125">Déchets</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N44">Assurance habitation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N333">Hébergement personnes âgées</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N332">Hébergement personnes handicapées</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N17160">Hébergement social</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19808">Afficher le thème Logement</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Transports --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-9" data-xiti-name="Barre_de_Navigation::Particuliers::::Transports" href="https://www.service-public.fr/particuliers/vosdroits/N19812">Transports</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-9">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-9" title="Fermer le menu du thème Transports">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<ul role="presentation">
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N367">Certificat d&#039;immatriculation (ex-carte grise)</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N530">Permis de conduire</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N18918">Infractions routières</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N31200">Contrôle technique</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N18131">Mesures antipollution</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N19126">Conduire en France avec un permis étranger</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N31345">Conduire à l'étranger</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N84">Transport aérien</a></li>
																	<li role="listitem"><a href="https://www.service-public.fr/particuliers/vosdroits/N20444">Cartes de transport</a></li>
																</ul>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi&nbsp;:</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N32">Assurance auto</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19812">Afficher le thème Transport</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Argent --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-1" data-xiti-name="Barre_de_Navigation::Particuliers::::Argent" href="https://www.service-public.fr/particuliers/vosdroits/N19803">Argent</a>
												<div class="nav-main-dropdown-inner collapse" id="nav-main-1">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-1" title="Fermer le menu du thème Argent">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Assurance</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N44">Assurance habitation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N32">Assurance véhicule</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Banque</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N98">Comptes bancaires</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N91">Moyens de paiements (cartes, chèques, espèces, mandats,virements)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N85">Fichiers bancaires</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Consommation</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N24033">Information et protection du consommateur pour tout achat</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N10515">Achat à distance</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N24036">Prestations de service</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31164">Garanties</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20278">Communications électroniques (téléphone, internet, télévision)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N24253">Véhicule</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N33">Sécurité du consommateur</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Crédit et surendettement</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N96">Crédit à la consommation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20373">Crédit immobilier</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N99">Surendettement</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Épargne</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20376">Livrets, plans, comptes et titres d’épargne</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20380">Investissements en bourse</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N89">Assurance-vie</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N517">Épargne salariale</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Impôts, taxes et douane</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N247">Impôt sur le revenu&nbsp;: déclaration et revenus à déclarer</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19785">Impôt sur le revenu&nbsp;: déductions, réductions et crédits d’impôt</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N219">Impôt sur le revenu&nbsp;: paiement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N206">Impôts locaux</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20074">Impôt de solidarité sur la fortune (ISF)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31160">Droits de succession et de donation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31080">Réclamations en matière d'impôts</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N17580">Contributions sociales (<abbr title="contribution sociale généralisée">CSG</abbr>, <abbr title="contribution au remboursement de la dette sociale">CRDS</abbr>)</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N230">Douane</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N119">Impôt des résidents à l'étranger</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31163">Rentes et capitaux décès</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23245">Achat logement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N312">Achat terrain</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N511">Rémunération - Public</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N474">Rémunération - Privé</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19803">Afficher le thème Argent</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Justice --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-4" data-xiti-name="Barre_de_Navigation::Particuliers::::Justice" href="https://www.service-public.fr/particuliers/vosdroits/N19807">Justice</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-4">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-4" title="Fermer le menu du thème Justice">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Organisation de la justice</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N261">Accès au droit et à la justice</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N279">Acteurs de la justice</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N253">Juridictions</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Procédures judiciaires</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N274">Conciliation et médiation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N269">Procès civil</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N263">Procès pénal</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N259">Contestation d’un jugement</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Infractions</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19681">Violence - Atteinte à l’intégrité</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N286">Discrimination</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31146">Harcèlement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N283">Vol - Vandalisme - Escroquerie</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31126">Injure - Diffamation - Incitation à la haine</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31138">Infractions liées aux nouvelles technologies</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Sanctions pénales</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N275">Condamnations et peines</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N276">Prison</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Réparation du préjudice</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19679">Indemnisation du préjudice</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N277">Saisies et recouvrements</a></li>
																	</ul>
																</div>
																<div role="listitem">
																	<p>Justice des mineurs</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N260">Mineur victime</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N23248">Mineur auteur d’infraction</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N42">Disparition et enlèvement</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N159">Divorce – Séparation</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N102">Conflits du travail Public</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N489">Prud'hommes</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N560">Contentieux administratifs</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N561">Litiges sécurité sociale</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19807">Afficher le thème Justice</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Étranger --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-2" data-xiti-name="Barre_de_Navigation::Particuliers::::Etranger" href="https://www.service-public.fr/particuliers/vosdroits/N19804">Étranger</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-2">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-2" title="Fermer le menu du thème Étranger">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Étrangers en France</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N123">Européens en France</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N105">Entrée des étrangers non européens en France</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N110">Titres, documents de séjour et de circulation des étrangers non européens</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N17046">Contrats d’accueil et d’intégration pour les étrangers non européens</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N107">Travail des étrangers non européens en France</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N11165">Regroupement familial des étrangers non européens en France</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N106">Demandeurs d'asile, réfugiés, apatrides</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N111">Acquisition de la nationalité française</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N109">Éloignement des étrangers non européens</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Français à l'étranger</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31336">Voyager à l'étranger</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N120">Résider à l'étranger</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N452">Travailler à l’étranger</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N230">Douane</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<!-- nav-main-sous-theme -->
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19804">Afficher le thème Étranger</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel">
												<!-- Loisirs --><a class="nav-main-item" data-parent="#nav-main-dropdown" data-toggle="collapse" data-target="#nav-main-6" data-xiti-name="Barre_de_Navigation::Particuliers::::Loisirs" href="https://www.service-public.fr/particuliers/vosdroits/N19809">Loisirs</a>
												<div class="nav-main-dropdown-inner collapse " id="nav-main-6">
													<div class="container">
														<p class="close"><button class="btn-close" type="button" data-target="#nav-main-6" title="Fermer le menu du thème Loisirs">
															Fermer
															</button>
														</p>
														<div class="nav-main-sous-theme" role="list">
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Chasse et pêche</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N553">Chasse</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N554">Pêche</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N287">Armes</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Temps libre</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N18944">Animaux</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N17914">Culture</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31176">Multimédia</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N184">Sport</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p>Vacances</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N19104">Hébergement touristique</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N550">Navigation de plaisance</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N31343">Chèque-vacances</a></li>
																	</ul>
																</div>
															</div>
															<div class="col-nav-main" role="presentation">
																<div role="listitem">
																	<p class="nav-main-more">Voir aussi&nbsp;</p>
																	<ul>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N20278">Communications électroniques</a></li>
																		<li><a href="https://www.service-public.fr/particuliers/vosdroits/N546">Accueil périscolaire, centres de vacances</a></li>
																	</ul>
																</div>
															</div>
														</div>
														<p class="link-theme"><a href="https://www.service-public.fr/particuliers/vosdroits/N19809">Afficher le thème Loisirs</a></p>
													</div>
													<!-- container -->
												</div>
												<!-- nav-main-dropdown-inner -->
											</li>
											<li class="panel"><a class="nav-main-item nav-main-item-actu" href="https://www.service-public.fr/particuliers/actualites">Actualités</a></li>
										</ul>
										</esi:remove>
										<esi:include src="/esi/particuliers/nav?{{ marquage }}"></esi:include>
									</div>
								</nav>
								<esi:remove>
								<div class="search" role="search" id="search">
									<form id="recherche" method="get" class="search-site" action="https://www.service-public.fr/particuliers/recherche">
										<div class="container">
											<div class="input-group">
												<input type="search" class="form-control" id="keyword" autocomplete="off" name="keyword" placeholder="ex. : Passeport, mairie de Montreuil, acte de naissance…" title="Recherche dans l&#39;espace Particuliers (ex. : Passeport, mairie de Montreuil, acte de naissance…)" value="" />
												<span class="input-group-btn">
													<button class="btn" type="submit" data-xiti-type="action" data-xiti-name="Particuliers::Actualite::Rechercher::Actualite">
														<span aria-hidden="true" class="icon icon-search"></span><span class="blank">Valider la recherche dans le site service-public.fr</span><!-- th:text="#{search.button}" -->
													</button>
												</span>
											</div>
										</div>
									</form>
								</div>
								</esi:remove>
								<esi:include src="/esi/particuliers/search?{{ marquage }}"></esi:include>
								<main class="main" id="main" role="main">
									<div class="breadcrumb">
										<p class="container">
											<span>
												<a href="https://www.service-public.fr/particuliers">
													Accueil particuliers</a>
												<span class="breadcrumb-separator">&nbsp;></span>
											</span>
											
                                                                                                 
																						<span>
													<a href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires">Services en ligne et formulaires</a>
													<span class="breadcrumb-separator">&nbsp;></span>
												</span>
												<span>
													<a href="{{step.simulator.referer }}">{{step.simulator.label }}</a>
													<span class="breadcrumb-separator">&nbsp;></span>
												</span>
												<strong class="active">Simulateur</strong>
											</span>
										</p>
									</div>
									<div class="container main-container">
										<h1 class="sr-only">Simulateur Particuliers</h1>
										<div class="col-main">
											<article class="article">
                                            
                  
{% block page_title %}{% endblock %}


