<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR">
<head>
	<title>{{ step.simulator.label }} - Boamp.fr</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Content-language" content="fr-FR" />
	<meta http-equiv="Content-language" content="fr-FR" />
	<meta name="author" content="DILA, Direction de l'Information Légale et Administrative" />
	<meta name="copyright" content="DILA, Direction de l'Information Légale et Administrative" />
	<meta name="description" content="Boamp.fr est le site officiel facilitant l'accès des entreprises à la commande publique. Il permet le repérage et la veille gratuite des appels d'offre des marchés publics de l'État, des régions, des départements, des communes et de leurs établissements. Il facilite également la compréhension des marchés publics par la mise à disposition de fiches pratiques didactiques. Simulateur d'aide au choix d'un forfait BOAMP" />
	<meta name="keywords" content="marches publics, appel d'offre, avis d'attribution, mapa, delegation de service public, resultat de marche, intention de conclure, annonce legale" />
<style type="text/css">
/*********************************************************
 *                                                       *
 * Définition des styles du simulateur (partie centrale) *
 *                                                       *
 *********************************************************/
#colonne2 {margin:0 auto; text-align:left; float:none; width:100%;}
#colonne2 #core {margin:20px 0; padding:10px 20px; }
#colonne2 h2 {border-bottom:2px solid #fff;}
#colonne2 p {font-size:1.2em; line-height:1.5em;}
#contenu div.nopub {width:650px !important;}

#titrePage { font-size: 1.75em; color: #B9396C; font-weight: bold;}
/*********************************************************
 * Texte de présentation du simulateur(sous le titre)    *
 *********************************************************/
#core div.intro{margin-bottom:1.5em;}
#core div.intro p {text-align: justify;}
#core div.intro p:first-child {color: #D83A89; font-weight: bold;}
#logo .boamp {
	width: 298px;
	height: 72px;
}
.step-page .foot-notes {
	border: 2px solid #B9396C;
	background: #E0E0E0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 0em;
    clear: both;
    float: none;
}
.step-page .foot-note{
	text-align:center;
}
.step-page .foot-note p {
	margin-bottom: 0;
}
#foot-note-2, #foot-note-12, #foot-note-22, #foot-note-23, #foot-note-24 {
	margin-top:1.5em;
}
#foot-note-3, #foot-note-4, #foot-note-5, #foot-note-6, #foot-note-7, #foot-note-8, #foot-note-9, 
#foot-note-13, #foot-note-14, #foot-note-15, #foot-note-16, #foot-note-17, #foot-note-18, #foot-note-19 {
	color: #B9396C;
	font-weight: bold;
}
/*********************************************************
 * Champs des formulaires                                *
 *********************************************************/
body {
	text-align: left;
	font-family: Arial, Verdana;
}

.step-page fieldset, .step-page div.fieldset {
	margin-top:0;
	border: 1px solid #e2f1ff;
	margin-bottom: 25px;
	padding: 10px 14px;
	font-size: 1.1em;
}
.step-page fieldset legend, .step-page div.legend{
	display:none;
}
.step-page textarea {
	width:30.8em;
	font:1em/1.5em Arial,Helvetica,sans-serif;
}
.step-page input {
	height:1.3em;
}
.step-page input[type=text], .step-page input[type=date], .step-page input[class=date], .step-page input[type=number], .step-page input[type=money] {
	height:2em;
	line-height:2em;
	margin-right:.5em;
	margin-top:.4em;
	padding-left:.2em;
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:0 1px 3px #ddd inset;
	box-sizing:border-box;
	color:#00529e;
	border-radius:4px;
}
.step-page input.error{
	border:1px solid #c60000;
	background-color:#f5dedb;
	font-weight:normal;
}
.step-page .select2-container .select2-choice, .step-page .select2-drop  {
	color: #00529e !important;
}
.step-page select {
	height: 2em;
}
.step-page input[type=money]  {
	max-width: 8em;
	width: 8em;
	font-size:1em;
	height:1.9em;
}
.step-page input[class=date], .step-page input[type=date] {
	max-width: 6.2em !important;
	width: 6.2em;
}
.step-page input[class~=date].error, .step-page input[type=date].error {
	max-width: 5.2em !important;
	width: 5.2em;
}
.step-page input[type=text]  {
	max-width: 10em;
}
.step-page input[type=number]  {
	max-width: 3.5em;
	/* padding:.5em .1em .5em .4em; */ /* pb IE, OPERA, Safari et Chrome si padding*/
}
.step-page input[type=submit], .step-page input[type=reset] {
	height:auto;
}
.step-page input[disabled=disabled]  {
	border: 0;
}
.step-page .choice input[type=radio]{
	margin:.8em .4em 0 0;
}

.step-page .output{
	display:inline-block;
	margin-top:.95em;
}
.step-page table {
	width: 100%;
}
.step-page td {
	padding-left: 2em;
	padding-right: 2em;
}
.step-page thead th:not(:first-child) {
	max-width: 2em;
	text-align:center;
}
.step-page tbody th {
	font-weight: normal;
}
.step-page label , .step-page .label , .step-page input{
	display: block;
	float: left;
	margin-bottom: 2px;
	line-height:3em;
}
.step-page label, .step-page .label {
	text-align: right;
	padding-right: 10px;
	min-width: 31.5em;
	width: 31.5em;
}
.step-page label.choice {
	text-align: left;
	min-width:1em;
	width: auto;
	font-weight:normal;
	margin-right:1.2em;
}

.step-page .post-note {
	clear: both;
	position: relative;
	top: -10px;
	margin: 0;
	padding-top: 0;
	width:100%; 
	font-size: 0.7em !important;
}
.step-page .error {
	color: #c60000;
	font-weight: bold;
}
.step-page div.error{
	clear:both;
	text-align:right;
}
.step-page .emphasized {
	color: #00529e;
	font-weight: bold;
}
.step-page .explanation {
	color: #00529e;
	font-weight: bold;
	float:right;
	width: 12em;
	margin-top:.95em;
}

.step-page br  {
	clear: both;
}
.clearer {
    clear: both;
    float: none;
	padding:0;
	margin:0;
}
table.pdf-footer {
	width: 100%
}
table.pdf-footer td:first-child{
	text-align: left;
}
table.pdf-footer td:last-child{
	text-align: right;
}
</style>
</head>
<body class="noScript ">
	<div class="wrap">
		{#
		<div>
			<div id="header">
				<div id="logo">
					<p>
						<a href="http://www.boamp.fr/" title="Boamp.fr">
							<img class="marianne" src="{{ asset('assets/boamp/images/logo-mariane.png') }}" alt="" />
							<img class="boamp" src="{{ asset('assets/boamp/images/logo-boamp.png') }}" alt="" />
						</a>
					</p>
					<div class="clearer"></div>
				</div>
				<div class="clearer"></div>
			</div>
		</div>
		#}
		<div id="main">
			<div id="contenu">
				<div id="blocTitrePage">
					<h1 id="titrePage">
						{{ step.simulator.label }}
					</h1>
				</div>
				<div class="standard nopub">
					<div id="colonne2">
						<div id="core">
							<div class="accueilSite">
								<div id="step1" class="step-page">
									<form method="post" action="#main" enctype="multipart/form-data" id="g6k_form">
										<div class="fieldset" id="choix-fieldset-1">
											<table class="grid" id="choix-grid-1">
												<thead>
													<tr>
														<th>&#xA0;</th>
														<th>MAPA &lt; 90 K€</th>
														<th>Marchés nationaux</th>
														<th>Marchés européens</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>Nombre d'avis initiaux</th>
														<td>
															<div id="nbAvisInitiauxMapa-container" class="field-container">
																<input type="number" id="nbAvisInitiauxMapa" name="nbAvisInitiauxMapa" value="{{ data.nbAvisInitiauxMapa }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisInitiauxNational-container" class="field-container">
																<input type="number" id="nbAvisInitiauxNational" name="nbAvisInitiauxNational" value="{{ data.nbAvisInitiauxNational }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisInitiauxEuropeen-container" class="field-container">
																<input type="number" id="nbAvisInitiauxEuropeen" name="nbAvisInitiauxEuropeen" value="{{ data.nbAvisInitiauxEuropeen }}" />
															</div>
														</td>
													</tr>
													<tr>
														<th>Nombre d'avis de résultats de marché</th>
														<td>
															<div id="nbAvisResultatsMapa-container" class="field-container">
																<input type="number" id="nbAvisResultatsMapa" name="nbAvisResultatsMapa" value="{{ data.nbAvisResultatsMapa }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisResultatsNational-container" class="field-container">
																<input type="number" id="nbAvisResultatsNational" name="nbAvisResultatsNational" value="{{ data.nbAvisResultatsNational }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisResultatsEuropeen-container" class="field-container">
																<input type="number" id="nbAvisResultatsEuropeen" name="nbAvisResultatsEuropeen" value="{{ data.nbAvisResultatsEuropeen }}" />
															</div>
														</td>
													</tr>
													<tr>
														<th>Nombre d'avis d'intention de conclure</th>
														<td>
															<div id="nbAvisIntentionConclureMapa-container" class="field-container">
																<input type="number" id="nbAvisIntentionConclureMapa" name="nbAvisIntentionConclureMapa" value="{{ data.nbAvisIntentionConclureMapa }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisIntentionConclureNational-container" class="field-container">
																<input type="number" id="nbAvisIntentionConclureNational" name="nbAvisIntentionConclureNational" value="{{ data.nbAvisIntentionConclureNational }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisIntentionConclureEuropeen-container" class="field-container">
																<input type="number" id="nbAvisIntentionConclureEuropeen" name="nbAvisIntentionConclureEuropeen" value="{{ data.nbAvisIntentionConclureEuropeen }}" />
															</div>
														</td>
													</tr>
													<tr>
														<th>Nombre d'avis rectificatifs</th>
														<td>
															<div id="nbAvisRectificatifsMapa-container" class="field-container">
																<input type="number" id="nbAvisRectificatifsMapa" name="nbAvisRectificatifsMapa" value="{{ data.nbAvisRectificatifsMapa }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisRectificatifsNational-container" class="field-container">
																<input type="number" id="nbAvisRectificatifsNational" name="nbAvisRectificatifsNational" value="{{ data.nbAvisRectificatifsNational }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisRectificatifsEuropeen-container" class="field-container">
																<input type="number" id="nbAvisRectificatifsEuropeen" name="nbAvisRectificatifsEuropeen" value="{{ data.nbAvisRectificatifsEuropeen }}" />
															</div>
														</td>
													</tr>
													<tr>
														<th>Nombre d'avis d'annulation</th>
														<td>
															<div id="nbAvisAnnulationMapa-container" class="field-container">
																<input type="number" id="nbAvisAnnulationMapa" name="nbAvisAnnulationMapa" value="{{ data.nbAvisAnnulationMapa }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisAnnulationNational-container" class="field-container">
																<input type="number" id="nbAvisAnnulationNational" name="nbAvisAnnulationNational" value="{{ data.nbAvisAnnulationNational }}" />
															</div>
														</td>
														<td>
															<div id="nbAvisAnnulationEuropeen-container" class="field-container">
																<input type="number" id="nbAvisAnnulationEuropeen" name="nbAvisAnnulationEuropeen" value="{{ data.nbAvisAnnulationEuropeen }}" />
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="foot-notes">
											<div id="foot-note-1" class="foot-note"> Sur la base de votre estimation, voici le(s) forfait(s) le(s) plus adapté(s) à vos besoins</div>
											{% if data.AvisMapaNational and data.AvisMapaNationalUP > 0 -%}
											<div id="foot-note-2" class="foot-note"><strong>MAPA < 90 K€ / Marchés Nationaux ({{ data.AvisMapaNationalUP }} UP) :</strong></div>
											{% endif %}
											{% if data.nbForfait7MapaNational > 0 -%}
											<div id="foot-note-3" class="foot-note">{{ data.nbForfait7MapaNational }} forfait(s) de {{ data.nbUPForfait7 }} UP / 12 mois + {{ data.nbUPOffertsForfait7 }} UP offertes</div>
											{% endif %}
											{% if data.nbForfait6MapaNational > 0 -%}
											<div id="foot-note-4" class="foot-note">{{ data.nbForfait6MapaNational }} forfait(s) de {{ data.nbUPForfait6 }} UP / 12 mois + {{ data.nbUPOffertsForfait6 }} UP offertes</div>
											{% endif %}
											{% if data.nbForfait5MapaNational > 0 -%}
											<div id="foot-note-5" class="foot-note">{{ data.nbForfait5MapaNational }} forfait(s) de {{ data.nbUPForfait5 }} UP / 12 mois + {{ data.nbUPOffertsForfait5 }} UP offertes</div>
											{% endif %}
											{% if data.nbForfait4MapaNational > 0 -%}
											<div id="foot-note-6" class="foot-note">{{ data.nbForfait4MapaNational }} forfait(s) de {{ data.nbUPForfait4 }} UP / 12 mois + {{ data.nbUPOffertsForfait4 }} UP offertes</div>
											{% endif %}
											{% if data.nbForfait3MapaNational > 0 -%}
											<div id="foot-note-7" class="foot-note">{{ data.nbForfait3MapaNational }} forfait(s) de {{ data.nbUPForfait3 }} UP / 12 mois + {{ data.nbUPOffertsForfait3 }} UP offertes</div>
											{% endif %}
											{% if data.nbForfait2MapaNational > 0 -%}
											<div id="foot-note-8" class="foot-note">{{ data.nbForfait2MapaNational }} forfait(s) de {{ data.nbUPForfait2 }} UP / 12 mois + {{ data.nbUPOffertsForfait2 }} UP offertes</div>
											{% endif %}
											{% if data.nbForfait1MapaNational > 0 -%}
											<div id="foot-note-9" class="foot-note">{{ data.nbForfait1MapaNational }} forfait(s) de {{ data.nbUPForfait1 }} UP / 12 mois + {{ data.nbUPOffertsForfait1 }} UP offertes</div>
											{% endif %}
											{% if data.nbComplementMapaNational > 0 and data.nbForfait1MapaNational > 0 -%}
											<div id="foot-note-10" class="foot-note"> complété de {{ data.nbComplementMapaNational }} unité(s) de publication à la demande </div>
											{% endif %}
											{% if data.nbComplementMapaNational > 0 and data.nbForfait1MapaNational == 0 -%}
											<div id="foot-note-11" class="foot-note">{{ data.nbComplementMapaNational }} unité(s) de publication(s) unitaire(s)</div>
											{% endif %}
											{% if data.AvisEuropeen and data.AvisEuropeenUP > 0 -%}
											<div id="foot-note-12" class="foot-note"> <strong>UE ({{ data.AvisEuropeenUP }} UP) :</strong> </div>
											{% endif %}
											{% if data.nbForfait7Europeen > 0 -%}
											<div id="foot-note-13" class="foot-note">{{ data.nbForfait7Europeen }} forfait(s) de {{ data.nbUPForfait7 }} UP / 12 mois + {{ data.nbUPOffertsForfait7 }} UP offertes </div>
											{% endif %}
 											{% if data.nbForfait6Europeen > 0 -%}
											<div id="foot-note-14" class="foot-note">{{ data.nbForfait6Europeen }} forfait(s) de {{ data.nbUPForfait6 }} UP / 12 mois + {{ data.nbUPOffertsForfait6 }} UP offertes </div>
											{% endif %}
											{% if data.nbForfait5Europeen > 0 -%}
											<div id="foot-note-15" class="foot-note">{{ data.nbForfait5Europeen }} forfait(s) de {{ data.nbUPForfait5 }} UP / 12 mois + {{ data.nbUPOffertsForfait5 }} UP offertes </div>
											{% endif %}
											{% if data.nbForfait4Europeen > 0 -%}
											<div id="foot-note-16" class="foot-note">{{ data.nbForfait4Europeen }} forfait(s) de {{ data.nbUPForfait4 }} UP / 12 mois + {{ data.nbUPOffertsForfait4 }} UP offertes </div>
											{% endif %}
											{% if data.nbForfait3Europeen > 0 -%}
											<div id="foot-note-17" class="foot-note">{{ data.nbForfait3Europeen }} forfait(s) de {{ data.nbUPForfait3 }} UP / 12 mois + {{ data.nbUPOffertsForfait3 }} UP offertes </div>
											{% endif %}
											{% if data.nbForfait2Europeen > 0 -%}
											<div id="foot-note-18" class="foot-note">{{ data.nbForfait2Europeen }} forfait(s) de {{ data.nbUPForfait2 }} UP / 12 mois + {{ data.nbUPOffertsForfait2 }} UP offertes </div>
											{% endif %}
											{% if data.nbForfait1Europeen > 0 -%}
											<div id="foot-note-19" class="foot-note">{{ data.nbForfait1Europeen }} forfait(s) de {{ data.nbUPForfait1 }} UP / 12 mois + {{ data.nbUPOffertsForfait1 }} UP offertes </div>
											{% endif %}
											{% if data.nbComplementEuropeen > 0 and data.nbForfait1Europeen > 0 -%}
											<div id="foot-note-20" class="foot-note"> complété de {{ data.nbComplementEuropeen }} unité(s) de publication à la demande </div>
											{% endif %}
											{% if data.nbComplementEuropeen > 0 and data.nbForfait1Europeen == 0 -%}
											<div id="foot-note-21" class="foot-note">{{ data.nbComplementEuropeen }} unité(s) de publication(s) unitaire(s) </div>
											{% endif %}
											<div id="foot-note-22" class="foot-note"> Soit un total de <strong>{{ data.AvisPrixForfaitHT }}</strong> euros HT. </div>
											{% if data.pourcentRemise > 0 -%}
											<div id="foot-note-23" class="foot-note"> En choisissant ce(s) forfait(s), vous bénéficiez de <strong>{{ data.pourcentRemise }}</strong>% de remise sur le tarif de base et vos avis rectificatifs/annulations sont offerts. </div>
											{% else %}
											<div id="foot-note-24" class="foot-note"> En choisissant cette offre, vous ne bénéficiez pas des remises prévues dans le cadre de forfait. Vos rectificatifs et annulation vous seront facturés 1 UP. </div>
											{% endif %}
										</div>
										<br />
										<br />
									</form>
								</div>
							</div>
							<!-- end of accueilSite -->
						</div>
						<!-- end of core -->
					</div>
					<!-- end colonne2 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>